/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    background-color: rgb(95, 155, 206);
    color: #333;
    padding: 20px 10px;
    font-weight: bold;
}

.menu-toggle {
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: none;
}

/* Show the navigation links when the menu is toggled */
nav.show-menu ul {
    display: block;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Hero Section Styles */
#hero {
    text-align: center;
    padding: 100px 10px;
}

#hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.cta-button {
    background-color: rgb(95, 155, 206);
    color: #fff;
    font-size: 24px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #0056b3;
}

/* Sections Styles */
section {
    padding: 60px 0;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Media Query for Tablets and Mobile Devices */
@media (max-width: 992px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .cta-button {
        font-size: 20px;
        padding: 8px 16px;
    }
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
    #hero h1 {
        font-size: 24px;
    }

    #hero p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .cta-button {
        font-size: 20px;
        padding: 8px 16px;
    }

    section {
        padding: 40px 0;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    ul {
        margin-left: 10px;
    }
}
