/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: Poppins, sans-serif ;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

/* Header Styles */
header {
    font-family: Poppins, sans-serif;
    background-color: #333;
    color: white;
    padding: 20px 20px;
    font-size: 22px;

}

.menu-toggle {
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: none;
}

/* Show the navigation links when the menu is toggled */
nav.show-menu ul {
    display: block;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* Hero Section Styles */
#hero {
    text-align: left;
    margin-left: 30px;
    padding: 60px 10px;
    display: inline-block;

}

#hero-text {
    width: 50%;
    display: inline-block;   
}
#hero-image {
    width: 50%;
    margin-left: 50%;  
    display: inline-block; 
}

#hero h1 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 500;
    margin: 45px 0 40px;
}

#hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.cta-button {
    background-color: #4681f4;
    color: #fff;
    font-size: 24px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    margin-left: -5px;
}

.cta-button:hover {
    background-color: #0056b3;
}

/* Sections Styles */
section {
    padding: 10px 0;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Media Query for Tablets and Mobile Devices */
@media (max-width: 992px) {
    body{
        padding-right: 20%;
        
    }
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .cta-button {
        font-size: 20px;
        padding: 8px 16px;
    }

    header {
        width: 120%;
    }
    footer {
        width: 120%;
        text-align: left;
        padding-left: 20px;
        margin-top: 50px;
    }
    

}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
    #hero h1 {
        font-size: 24px;
    }


    #hero p {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .cta-button {
        font-size: 30px;
        padding: 10px 26px;
        margin-top: 20px;
    }

    section {
        padding: 40px 0;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    ul {
        margin-left: 10px;
    }
}
